<% provide(:title, "Log in") %>
<h1 id="majorKey">Log in</h1>

<div class="loginSignup">

    <%= form_for(:session, url: login_path) do |f| %>
    
    <% if flash[:danger] %>
      <p class="flashMsg"> <%= flash[:danger] %> </p>
    <% end %>
    
    <p>
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "Existing Username", class: 'form-control' %>
    </p>
    
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
    </p>

    <p>
      <%= f.submit "Log in", class: 'button hoverAnimation' %>
    </p>
      
    <% end %>

</div>

<p>
  <%= link_to "New user? Sign up NOW!", new_account_path, id: "browse", class: "button hoverAnimation" %>
</p>
