<h1 id='majorKey'>
  Edit Account
</h1>
  
<%= form_for @account do |a| %>

  <div class="loginSignup">
    <p>
      <%= a.label :edit_username %><br>
      <%= a.text_field :username, placeholder: "Leave Blank To Keep Same Username", class: 'form-control' %>
    </p>
  
    <p>
      <%= a.label :edit_password %><br>
      <%= a.password_field :password, placeholder: "Leave Blank To Keep Same Password", class: 'form-control' %>
    </p>
  
    <p>
      <%= a.label :password_confirmation %><br>
      <%= a.password_field :password_confirmation, placeholder: "Leave Blank To Keep Same Password", class: 'form-control' %>
    </p>
  </div>
    
  <div class="passwordEdit">
    <p>
        <%= a.label :edit_profile_pic %> <br>
        <%= a.file_field :profile_pic, class: 'chooseFile' %>
    </p>
  </div>
  
  <p class='updateButton'>
    <%= a.submit "Update", class: 'button hoverAnimation' %><br>
  </p>
<% end %>

 <%= link_to 'Delete Account', {:controller => "accounts", 
                           :action => "destroy", 
                           :account_id => current_account.id }, 
                           :method => "delete", 
                           data: { confirm: 'This will delete your account, as well as all of your uploads. Are you sure?' },
                           id: 'deleteAcc', class: 'button hoverAnimation' %>