<h1>New And Existing Users</h1>

<%= form_for :account do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>