<h1 id="signIn">Sign Up</h1>

<div class="loginSignup">
  
<%= form_for @account do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@account.errors.count, "error") %> prohibited
        this account from being saved:
      </h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :create_a_username %><br>
    <%= f.text_field :username, placeholder: "EX: MemeCatIsCool", class: 'form-control' %>
  </p>
 
  <p>
    <%= f.label :create_a_password %><br>
    <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
  </p>
  
  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %>
  </p>
    
 
  <p>
    <%= f.submit %>
  </p>
  
  <% end %>
  
  <p>
    <%= link_to "Have an existing account? Login NOW!", login_path, id: "browse", class: "button" %>
  </p>
  
</div>
